{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Hide and Go Seek</h1>

    <div id="menu">
        <input id="displayName" placeholder="Display Name">
        <button id="createRoomButton">Create New Room</button>

        <hr>

        <input id="roomCodeInput" placeholder="Room Code" inputmode="numeric">
        <button id="joinRoomButton">Join Room</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
